<?xml version="1.0" encoding="utf-8"?>
<Configuration>
	<TransferSettings>
		<Name></Name>
		<Source></Source>
		<Destination></Destination>
		<CopyTo></CopyTo>
	</TransferSettings>
	<ProcessSettings>
		<Run>Yes</Run>
		<LogFileLocation></LogFileLocation>
		<LogFileLocationCopyAction></LogFileLocationCopyAction>
		<ProcessId></ProcessId>
	</ProcessSettings>
</Configuration>